/*CSS GERAIS DÁ PÁGINA*/

body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    background-color: #FFF0F5;
    background-attachment: fixed;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}
  
.bi-moon {
    display: none;
}

.container {
    padding: 70px 0;
}

/*informações*/

.container{
    position: absolute;
    margin-top: 130px;
    left: 130px;
}

.img-fluid{
    position: relative;
    left: 200px;
    margin-top: -25px;
    animation: flipTitle 4s;
}

@keyframes flipTitle{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);

    }
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
  
.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;    
}
  
.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #FF4500;
    margin-right: 15px;
}

  /*footer*/

#copy-area {
    background-color: transparent;
    font-size: 10px;
}
  
#copy-area .container {
    margin-top: 650px;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
    color: #333;
}

#copy-area .container a {
    font-weight: bold;
    color: #FF4500;
    text-decoration: none;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
}

.whatsapp-link {
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 23px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}
  
.fa-whatsapp {
    margin-top: 13px;
}

.github-link{
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 110px;
    right: 23px;
    background-color: #000000;
    box-shadow: 1px 1px 2px #888;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    z-index: 1000;
}

.github-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}

.fa-github{
    margin-top: 13px;
}

.linkedin-link{
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 180px;
    right: 23px;
    background-color: #00BFFF;
    box-shadow: 1px 1px 2px #888;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    z-index: 1000;
}

.linkedin-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}

.fa-linkedin{
    margin-top: 13px;
}

/* Dark theme */
.dark,
.dark header h3 {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.img-fluid {
    filter: drop-shadow(0 0 0.4rem #fff);
}

.dark .main-title {
    color: #fff;
}

.dark .about-title {
    color: #fff;
}

.dark #copy-area .container p {
    color: #fff;
}

@media only screen 
and (max-width : 768px){

    .navbar-dark{
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        left:10px;
        font-size: 16px;
    }

    .container{
        position: absolute;
        margin-top: 80px;
        left: 16px;
    }

    .img-fluid{
        left: 100px;
    }

    .main-title {
        font-size: 28px;
    }
        
    .main-title::after {
        border-top: none
    }

    #copy-area .container {
        margin-top: 570px;
    }
}

@media only screen 
and (max-width : 425px){

    .navbar-dark{
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        left:1px;
        font-size: 13px;
    }

    .container{
        position: absolute;
        margin-top: 20px;
        left: 5px;
        width: 100%;
    }

    .img-fluid{
        left: 60px;
    }

    .main-title {
        font-size: 20px;
    }

    .main-title::after {
        border-top: none
    }

    #copy-area .container {
        margin-top: 580px;
    }
}

@media only screen 
and (max-width : 400px){

    .navbar-dark{
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        left:1px;
        font-size: 13px;
    }

    .container{
        position: absolute;
        margin-top: 20px;
        left: 5px;
        width: 100%;
    }

    .img-fluid{
        left: 60px;
    }

    .main-title {
        font-size: 20px;
    }

    .main-title::after {
        border-top: none
    }

    #copy-area .container {
        margin-top: 565px;
    }
}

@media only screen 
and (max-width : 300px){

    .navbar-dark{
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        left:1px;
        font-size: 13px;
    }

    .container{
        position: absolute;
        margin-top: 20px;
        left: 1px;
        width: 100%;
    }

    .img-fluid{
        position: relative;
        margin-top: -70px;
        left: 1px;
    }

    .main-title {
        font-size: 16px;
    }

    .main-title::after {
        border-top: none
    }

    #copy-area .container {
        margin-top: 565px;
    }
}