/*CSS GERAIS DÁ PÁGINA*/

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, #FF4500 0%, 	#FFFF00 46%, #FF6347 100%);
    background-attachment: fixed;
    height: 100vh;
    width: 100vh;
}

/*CSS DA BARRA DE NAVEGAÇÃO*/

header, .navbar{
    background-image: linear-gradient(45deg, #1C1C1C 0%, 	#0000CD 46%, #000000 100%);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark .navbar-brand{
    position: relative;
    padding: 0;
    color: #fff;
    margin-top: 5px;
    left: 30px;
    font-weight: bold;
    font-size: 15px;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

.navbar-dark .navbar-brand:hover{
    color: #FFD700;
}

#navbar-links a {
    color: #fff;
    font-weight: bolder;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}    

#navbar-links a:hover {
    color: #FFD700;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem .7rem;
    margin-top: 3px;
}

/*informações*/

.container-trabalho{
    position: absolute;
    margin-top: 80px;
    background-color: transparent;
    height: 550px;
    width: 500px;
    left: 400px;
}

img{
    position: relative;
    filter: drop-shadow(0 0 0.4rem #7fff00);
    margin-top: 1px;
    left: 210px;
    height: 170px;
    width: 250px;
}

.title{
    position: relative;
    left: 110px;
    font-weight: bold;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

.title h2{
    position: relative;
    left: 60px;
}

.title .sub{
    position: relative;
    left: 150px;
}

.title .sub-01{
    position: relative;
    left: 30px;
}

.title .par{
    position: relative;
    left: -19px;
}

.title .par-01{
    position: relative;
    left: 70px;
}

.title .par-02{
    position: relative;
    left: 125px;
}

.title .par-03{
    position: relative;
    left: 115px;
}