/*CSS GERAIS DÁ PÁGINA*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E0FFFF;
    height: 100vh;
    width: 100vh;
    background-attachment: fixed;
}

/*CSS DA BARRA DE NAVEGAÇÃO*/

header, .navbar{
    background-color: #FF4500;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark .navbar-brand{
    position: relative;
    padding: 0;
    color: #fff;
    margin-top: 5px;
    left: 30px;
    font-weight: bold;
    font-size: 15px;
}

.navbar-dark .navbar-brand:hover{
    color: rgb(18, 124, 156);
}

#navbar-links a {
    color: #fff;
    font-weight: bolder;
}    

#navbar-links a:hover {
    color: #333;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem .7rem;
    margin-top: 3px;
}
/*menu*/

.col-md-6{
    position: absolute;
    display: block;
    background-color: transparent;
    background-attachment: fixed;
    width: 230px;
    height: 100vh;
    margin-top: 450px;
    left: 1px;
}

.col-md-6 p{
    position: relative;
    left: 25px;
    font-size: 18px;
}

#about-list li{
    position: relative;
    margin: 5px;
}

#about-list a{
    color: #000000;
    transition: ease 0.1s;
    font-weight: bolder;
}

#about-list a:hover{
    color: #FF8C00;
    font-weight: bolder;
    text-decoration: none;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

/*video*/

.video{
    position: relative;
    margin-top: 90px;
    left: 45px;
    background-image: linear-gradient(45deg, #1C1C1C 0%, 	#0000CD 46%, #000000 100%);
    width: 1330px;
    height: 300px;
    border-radius: 10px;
    animation: flipTitle 4s;
}

@keyframes flipTitle{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);

    }
}

video{
    position: relative;
    width: 1330px;
    height: 300px;
    border-radius: 10px;
}

/*informativo do site*/

.title{
    position: relative;
    margin-top: 100px;
    left: 520px;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

.container-trabalho{
    position: absolute;
    width: 800px;
    background-color: transparent;
    margin-top:30px;
    left: 400px;
    font-weight: bolder;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

.gpom{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.OLT{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.onu{
    position: relative;
    width: 330px;
    height: 300px;
    left: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.splitter{
    position: relative;
    width: 330px;
    height: 350px;
    left: 150px;
    border-radius: 10px;
}

.aes{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.Zabbix{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}

@media only screen 
   and (max-width : 768px) {

    .video{
        position: relative;
        left: 22.5px;
        width: 650px;
        height: 250px;
    }
    
    video{
        position: relative;
        width: 650px;
        height: 250px;
        border-radius: 10px;
    }

    .title{
        left: 100px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        left: 35px;
        width: 640px;
    }
    
}

@media only screen 
   and (max-width : 600px) {

    .video{
        position: relative;
        left: 18px;
        width: 450px;
        height: 200px;
    }
    
    video{
        position: relative;
        width: 450px;
        height: 200px;
    }

    .title{
        left: 100px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        left: 35px;
        width: 420px;
    }

    .onu{
        left: 15px;
        width: 300px;
    }

    .splitter{
        margin: 5px;
        left: 15px;
        width: 300px;
    }
    
}

@media only screen 
   and (max-width : 400px) {

    .navbar-dark .navbar-brand{
        left: 0px;
        font-size: 10px;
    }

    .title{
        left: 75px;
        width: 400px;
    }

    .title h3{
        font-size: 13px;
    }

    .title img{
        left: 80px;
        margin-top: -180px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        left: 25px;
        width: 350px;
    }

    .container-trabalho h4{
        font-size: 18px;
    }

    .container-trabalho p{
        font-size: 12px;
    }

    .onu{
        left: 30px;
        width: 200px;
    }

    .splitter{
        margin: 5px;
        left: 10px;
        width: 250px;
    }
    
}

@media only screen 
   and (max-width : 300px) {

    .navbar-dark .navbar-brand{
        left: 0px;
        font-size: 10px;
    }

    .title{
        left: 20px;
        width: 400px;
    }

    .title h3{
        font-size: 13px;
    }

    .title img{
        left: 80px;
        margin-top: -180px;
    }

    .container-trabalho{
        left: 10px;
        width: 280px;
    }

    .container-trabalho h4{
        font-size: 18px;
    }

    .container-trabalho p{
        font-size: 12px;
    }

    .onu{
        left: 30px;
        width: 200px;
    }

    .splitter{
        margin: 5px;
        left: 10px;
        width: 250px;
    }
    
}