/*CSS GERAIS DÁ PÁGINA*/

body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    background-color: 	#FFF0F5;
    background-attachment: fixed;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}
  
.bi-moon {
    display: none;
}

/*CSS DA BARRA DE NAVEGAÇÃO*/


header, .navbar{
    background-color: #4682B4;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark .navbar-brand{
    position: relative;
    padding: 0;
    color: #fff;
    margin-top: 5px;
    left: 30px;
    font-weight: bold;
    font-size: 15px;
}

.navbar-dark .navbar-brand:hover{
    color: rgb(233, 196, 196);
}

#navbar-links a {
    color: #fff;
    font-weight: bolder;
}    

#navbar-links a:hover {
    color: #333;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem .7rem;
    margin-top: 3px;
}
/*menu*/

.col-md-6{
    position: absolute;
    display: block;
    background-color: transparent;
    background-attachment: fixed;
    width: 230px;
    height: 100vh;
    margin-top: 450px;
    left: 1px;
}

.col-md-6 p{
    position: relative;
    left: 25px;
    font-size: 18px;
    color: #000000;
}

#about-list li{
    position: relative;
    margin: 5px;
}

#about-list a{
    color: #000000;
    font-weight: bolder;
    transition: all ease 0.3s;
}

#about-list a:hover{
    color: #FF8C00;
    font-weight: bolder;
    text-decoration: none;
    filter: drop-shadow(0 0 0.4rem #7fff00);
}

/*video*/

.video{
    position: relative;
    margin-top: 90px;
    left: 45px;
    background-image: linear-gradient(45deg, #1C1C1C 0%, 	#0000CD 46%, #000000 100%);
    width: 1330px;
    height: 300px;
    border-radius: 10px;
    animation: flipTitle 4s;
}

@keyframes flipTitle{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);

    }
}

video{
    position: relative;
    width: 1330px;
    height: 300px;
    border-radius: 10px;
}

/*informativo do site*/

.title{
    position: relative;
    margin-top: 100px;
    left: 520px;
    color: #000000;
}

.container-trabalho{
    position: absolute;
    width: 800px;
    background-color: transparent;
    margin-top:30px;
    left: 400px;
    font-weight: bolder;
    color: #000000;
}

.container-trabalho p{
    text-align: justify;
}

.gpom{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.OLT{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.onu{
    position: relative;
    width: 330px;
    height: 300px;
    left: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.splitter{
    position: relative;
    width: 330px;
    height: 350px;
    left: 90px;
    border-radius: 10px;
}

.aes{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.Zabbix{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}

.t-anel{
    position: relative;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #fff;
}

.t-OTDR{
    position: relative;
    width: 400px;
    height: 300px;
    left: 150px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.t-OLP{
    position: relative;
    width: 330px;
    height: 350px;
    left: 70px;
    margin: 5px;
    border-radius: 10px;
}

.t-checklist{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}

 /*footer*/

#copy-area {
    background-color: transparent;
    font-size: 10px;
}
  
#copy-area .container {
    margin-top: 16600px;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
    color: #333;
}

#copy-area .container a {
    font-weight: bold;
    color: #FF4500;
    text-decoration: none;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
}

/*contatos flutuantes*/

.whatsapp-link {
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 23px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}
  
.fa-whatsapp {
    margin-top: 13px;
}

.github-link{
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 110px;
    right: 23px;
    background-color: #000000;
    box-shadow: 1px 1px 2px #888;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    z-index: 1000;
}

.github-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}

.fa-github{
    margin-top: 13px;
}

.linkedin-link{
    position: fixed;
    cursor:pointer;
    width: 60px;
    height: 60px;
    bottom: 180px;
    right: 23px;
    background-color: #00BFFF;
    box-shadow: 1px 1px 2px #888;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    z-index: 1000;
}

.linkedin-link:hover{
    color: #fff;
    filter: drop-shadow(0 0 0.4rem #FF4500);
}

.fa-linkedin{
    margin-top: 13px;
}

/* Dark theme */
.dark,
.dark header main {
    background-color: #263238;
    color: #fff;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark .col-md-6 p {
    color: #fff;
}

.dark #about-list li a {
    color: #fff;
}

.dark .title, .container-trabalho {
    color: #fff;
}

.dark #copy-area .container p {
    color: #fff;
}

@media only screen 
   and (max-width : 768px) {

    header .navbar-dark{
        position: absolute;
        width: 100%;
    }

    .video{
        position: relative;
        left: 21px;
        width: 730px;
        height: 250px;
    }
    
    video{
        position: relative;
        width: 730px;
        height: 250px;
        border-radius: 10px;
    }

    .title{
        left: 100px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        left: 35px;
        width: 700px;
    }

    .onu{
        left: 50px;
        width: 300px;
    }

    .splitter{
        margin: 5px;
        left: 8px;
    }

    .t-OLP{
        left: 10px;
        margin: 5px;
    }      
    
}

@media only screen 
   and (max-width : 425px) {

    header .navbar-dark{
        position: absolute;
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        position: relative;
        left: 0;
        font-size: 12px;
    }

    .video{
        position: relative;
        left: 13px;
        width: 400px;
        height: 200px;
    }
    
    video{
        position: relative;
        width: 400px;
        height: 200px;
    }

    .title{
        left: 13px;
    }

    .title h3{
        font-size: 20px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        left: 20px;
        width: 390px;
    }

    .onu{
        left: 15px;
        width: 300px;
    }

    .splitter{
        margin: 5px;
        left: 15px;
        width: 300px;
    }

    .t-OTDR{
        left: 15px;
        width: 300px;
    }
    
}

@media only screen 
   and (max-width : 400px) {

    header .navbar-dark{
        position: absolute;
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        position: relative;
        left: 0;
        font-size: 12px;
    }

    .video{
        position: relative;
        left: 10px;
        width: 380px;
        height: 200px;
    }
    
    video{
        position: relative;
        width: 380px;
        height: 200px;
    }

    .title{
        margin-top: 20px;
        left: 16px;
    }

    .title h3{
        font-size: 25px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        margin-top: 10px;
        left: 20px;
        width: 355px;
    }

    .onu{
        left: 15px;
        width: 300px;
    }

    .splitter{
        margin: 5px;
        left: 15px;
        width: 300px;
    }    
}

@media only screen 
   and (max-width: 300px){

    header .navbar-dark{
        position: absolute;
        width: 100%;
    }

    .navbar-dark .navbar-brand{
        position: relative;
        left: -10px;
        font-size: 12px;
    }

    .video{
        position: relative;
        margin-top: 77px;
        width: 280px;
        height: 150px;
    }
    
    video{
        position: relative;
        left: 1px;
        width: 280px;
        height: 150px;
    }

    .title{
        margin-top: 20px;
        left: 25px;
    }

    .title h3{
        font-size: 18px;
    }

    .col-md-6{
        display: none;
    }

    .container-trabalho{
        margin-top: 10px;
        left: 20px;
        width: 270px;
    }

    .onu{
        left: 5px;
        width: 250px;
    }

    .splitter{
        margin: 5px;
        left: 5px;
        width: 250px;
    }

    .t-OTDR{
        left: 5px;
        width: 250px;
    }

    .t-OLP{
        margin: 5px;
        left: 5px;
        width: 250px;
    }  
    
}